body {
    background-color: #18171c;
}
.container {
    background-color: white;
    width: 25rem;
    height: 20rem;
    margin: auto;
    margin-top: 8.5rem;
}
.head-postcard {
    /* background: tomato; */
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 0;
}
.head-postcard h1 {
    font-size: 30px;
    padding-left: 1rem;
    font-family: 'Roboto Mono', monospace;
}
.head-postcard img {
    width: 60px;
    padding-right: 8px;
}
.body-postcard {
    /* background: turquoise; */
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0;
}
.body-postcard p {
    padding-right: 15px;
    margin: 0;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}
.body-postcard input {
    /* background: blueviolet; */
    padding: 10px;
    border: none;
    border-bottom: solid black;
    width: 8rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
}
.footer-postcard {
    /* background: chartreuse; */
    display: flex;
    justify-content: center;
    padding-top: 0;
}
button {
    font-size: 12px;
    background-color: grey;
    font-family: 'Roboto Mono', monospace;
    padding: 2px;
}
button:hover {
    background-color: rgb(34, 37, 46);
    color: white;
}
button:active {
    background-color: rgba(20, 143, 203, 1);
    color: black;
}